<div class="container">
    <div class="row">
        <h3 class="fw-bold mb-3"><span class="text-danger fw-bold h1">O</span>nline <span class="text-danger fw-bold h1">B</span>anking</h3>
        <div class="col-12">
            <div class="row mb-5">
                <div class="card-group container gap-4">
                    <div class="card border-0 shadow rounded d-flex justify-content-center align-items-center flex-column py-3">
                        <i class="fa-5x fab fa-cc-mastercard mastercard_color"></i>
                      <div class="card-body">
                        <h5 class="card-title fw-bold">Online Master-card</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate alias temporibus ullam officiis consequuntur dignissimos.</p>
                      </div>
                      <div class="p-3">
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, explicabo?</small>
                      </div>
                    </div>
                    <div class="card border-0 shadow rounded d-flex justify-content-center align-items-center flex-column py-3">
                        <i class="fa-5x fab fa-cc-paypal paypal_color"></i>
                      <div class="card-body">
                        <h5 class="card-title fw-bold">Paypal Master-card</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, maiores? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, odit libero! Omnis, laboriosam. Cumque, vel!</p>
                      </div>
                      <div class="p-3">
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, explicabo?</small>
                      </div>
                    </div>
                    <div class="card border-0 shadow rounded d-flex justify-content-center align-items-center flex-column py-3">
                        <i class="fa-5x fab fa-cc-visa visa_color"></i>
                      <div class="card-body">
                        <h5 class="card-title fw-bold">Vise Master-card</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action. Lorem ipsum dolor sit amet.</p>
                      </div>
                      <div class="p-3">
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, explicabo?</small>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col-11 col-md-8 m-auto ">
          <p><small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi illo hic possimus numquam, tempora in necessitatibus modi cupiditate reiciendis laboriosam impedit asperiores nulla quisquam perspiciatis.</small></p>
        </div>
    </div>
</div>