<div class="container margin-Y">
    <div class="row">
        <div class="col-10 col-md-12">
            <p class="h6 text-center"><span class="fw-bold text-danger">N</span >odejs<span class="fw-bold text-danger">B</span>ook</p>
            <h2 class="text-capitalize text-center m-auto fw-bold w-50">all the tools you need on the workspace!</h2>
            <div class="w-25 m-auto mt-3 d-flex justify-content-between justify-content-md-evenly align-items-center">
                <p class="text-capitalize border-2 border-bottom border-dark">monthly</p>
                <p class="text-capitalize text-muted">yearly</p>
            </div>
            <div class="row mt-2 d-flex justify-content-center align-items-center g-4">
                <div class="col-12 col-md-4">
                  <div class="card h-100 border-0 shadow rounded">
                    <div class="card-body">
                      <h5 class="card-title fw-bold">Basic</h5>
                      <p class="card-text"><small>This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</small></p>
                      <br>
                      <h3 class="fw-bold">Free</h3>
                      <div class="row mt-3">
                        <div class="col-12 d-flex justify-content-center align-items-center p-2">
                            <a href="#" class="text-dark text-decoration-none"> <small>Try To Free</small></a>
                        </div>
                        <div class="col-12 d-flex justify-content-center align-items-center mt-2 p-2">
                          <a href="#" class="text-dark text-decoration-none"> <small>Learn More ></small></a>
                        </div>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="card h-100 border-0 shadow rounded">
                    <div class="card-body">
                      <h5 class="card-title fw-bold">Pro</h5>
                      <p class="card-text"><small>This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</small></p>
                      <br>
                      <h3 class="fw-bold">$19.44<small class="fw-light">/imo</small></h3>
                      <div class="row mt-3">
                          <div class="col-12 d-flex justify-content-center align-items-center p-2">
                              <a href="#" class="text-dark text-decoration-none"> <small>Get Started</small></a>
                          </div>
                          <div class="col-12 d-flex justify-content-center align-items-center mt-2 p-2">
                            <a href="#" class="text-dark text-decoration-none"> <small>Learn More ></small></a>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
    </div>
</div>