<div class="container my-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-10 col-md-12">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12 col-md-4 shadow rounded p-4">
                    <h2 class="mb-3"><span class="fw-bold text-danger">L</span>og <span class="fw-bold text-danger">I</span>n</h2>
                    <form action="/login" method="POST" class="row ">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">User Email</label>
                          <input placeholder="Enter User Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input placeholder="Enter Password" type="password" class="form-control" id="exampleInputPassword1" name="password">
                        </div>
                        <div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                              </div>
                              <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>