<main>
    <section class="container margin-Y">
        <div class="row col-12">
            <div class="row">
                <div class="col-12 p-4 pt-md-1 col-md-6 d-flex justify-content-center align-items-center">
                    <img src="../images/pic2.svg" class="img-fluid w-75" alt="webpic1">
                </div>
                <div class="col-12 p-4 pt-md-1 col-md-6 d-flex justify-content-center align-items-start flex-column">
                    <h1 class="text-capitalize fw-bold">Managing time and social media for you biusness</h1>
                    <p class="header_para">Cration biusness Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius vero voluptates reprehenderit maiores animi similique quam quia repellendus porro ullam.!</p>
                    <div class="d-flex justify-content-around align-items-center w-100">
                        <div class="left-site d-flex justify-content-center align-items-center flex-column">
                            <i class="h2 fab fa-accusoft"></i>
                            <p><small>creation with own biusness!</small></p>
                        </div>
                        <div class="right-site d-flex justify-content-center align-items-center flex-column">
                            <i class="h2 fab fa-alipay"></i>
                            <p><small>creatopn direction in your method!</small></p>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </section>

    <!-- another section -->
    <header class="container margin-Y">
        <div class="row  col-12">
            <div class="row">
                <div class="col-12 p-4 order-2 order-md-1 pt-md-1 col-md-6 d-flex justify-content-center align-items-start  flex-column ">
                  <h1 class="text-capitalize fw-bold">champions and best sell of our biusness!</h1>
                  <p class="header_para">Create a directory and method or seo spacilist manage on your website for the our website Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, molestiae. Molestias, saepe sunt. Modi, molestias.!</p>
                  <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-md-5 col-12 my-2 my-md-0">
                        <a href="/ragistration" class="button ">Registration</a> 
                    </div> 
                    <div class="col-md-7 col-12">
                        <p class="ms-0 ms-md-1 mt-1 mt-md-0"><small>click and registration this website Lorem ipsum dolor sit amet.</small></p>
                    </div>
                  </div>
                </div>
                <div class="col-12 order-1 order-md-2 p-4 pt-md-1 col-md-6 d-flex justify-content-center align-items-center">
                    <img src="../images/pic4.svg" class="img-fluid w-75" alt="webpic1">
                </div>
            </div>
        </div>
    </header>
</main>