<div class="container margin-Y">
    <h3 class="fw-bold mb-3"><span class="text-danger fw-bold h1">S</span>ervices</h3>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="div">
            <div class="card p-2 border-0 shadow">
                <img src="../images/pic12.svg" class="card-img-top w-100 h-50" alt="car2svgpicture">
                <div class="card-body">
                    <h2 class="text-capitalize fw-bold">Great for Joining</h2>
                  <p class="card-text"><small>Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta nesciunt quasi doloremque sunt consectetur dolorem ipsam tenetur eveniet. Itaque animi fugiat expedita assumenda natus consequatur velit deleniti modi, cupiditate voluptatum!</small></p>
                </div>
              </div>
        </div>
        <div class="div">
            <div class="card p-2 border-0 shadow">
                <div class="card-body">
                    <h2 class="text-capitalize fw-bold">Great for shearing</h2>
                  <p class="card-text"><small>
                    Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, illo. Lorem ipsum dolor sit amet consectetur adipisicing elit reprehenderit et Lorem ipsum dolor sit amet.!
                  </small></p>
                </div>
                <img src="../images/pic10.svg" class="card-img-top w-100" alt="car2svgpicture">
              </div>
        </div>
    </div>
</div>